body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Microsoft JhengHei";
}

.mrpl {

	margin-top:20px;
	padding-left:30px
}

.mr-2 {
	margin-left: 20px
}

.bg-beangreen {
	background-color:#A9C251;
}

a:link{
	text-decoration:none;
	color:#686868;
	}

a:hover {
	text-decoration:none;
	color:#33AA24;
	}

#iconimg1 a {
	color:#A9C251;
	background: url('../images/screw-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px; 
	line-height: 310px; /*調整文字位置*/
}

#iconimg1 a:hover {
	color:white;
	background: url('../images/screw-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px;
	line-height: 310px; /*調整文字位置*/
}

#iconimg2 a {
	color:#A9C251;
	background: url('../images/nut-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px; 
	line-height: 310px; /*調整文字位置*/
}

#iconimg2 a:hover {
	color:white;
	background: url('../images/nut-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px;
	line-height: 310px; /*調整文字位置*/
}

#iconimg3 a {
	color:#A9C251;
	background: url('../images/washer-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px; 
	line-height: 310px; /*調整文字位置*/
}

#iconimg3 a:hover {
	color:white;
	background: url('../images/washer-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px;
	line-height: 310px; /*調整文字位置*/
}

#iconimg4 a {
	color:#A9C251;
	background: url('../images/tool-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px; 
	line-height: 310px; /*調整文字位置*/
}

#iconimg4 a:hover {
	color:white;
	background: url('../images/tool-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px;
	line-height: 310px; /*調整文字位置*/
}

#iconimg5 a {
	color:#A9C251;
	background: url('../images/other-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px; 
	line-height: 310px; /*調整文字位置*/
}

#iconimg5 a:hover {
	color:white;
	background: url('../images/other-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px;
	line-height: 310px; /*調整文字位置*/
}

#iconimg6 a {
	color:#A9C251;
	background: url('../images/customize-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px; 
	line-height: 310px; /*調整文字位置*/
}

#iconimg6 a:hover {
	color:white;
	background: url('../images/customize-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 58px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:200px;
	height: 200px;
	margin:0px 12px 100px 15px;
	border-radius:5px;
	line-height: 310px; /*調整文字位置*/	
}
