body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Microsoft JhengHei";
}

html {
	height: 100%; }

.mrpl {
	margin-top:20px;
}

.mr-2 {
	margin-left: 20px
}

.bg-beangreen {
	background-color:#A9C251;
}

a:link{
	text-decoration:none;
	color:black;
	}

a:hover {
	text-decoration:none;
	color:#21AB38;
	}

#iconimg1 a {
	color:#A9C251;
	background: url('../images/screw-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px; 
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg1 a:hover {
	color:white;
	background: url('../images/screw-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px;
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg2 a {
	color:#A9C251;
	background: url('../images/nut-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px; 
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg2 a:hover {
	color:white;
	background: url('../images/nut-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px;
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg3 a {
	color:#A9C251;
	background: url('../images/washer-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px; 
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg3 a:hover {
	color:white;
	background: url('../images/washer-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px;
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg4 a {
	color:#A9C251;
	background: url('../images/tool-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px; 
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg4 a:hover {
	color:white;
	background: url('../images/tool-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px;
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg5 a {
	color:#A9C251;
	background: url('../images/other-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px; 
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg5 a:hover {
	color:white;
	background: url('../images/other-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px;
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg6 a {
	color:#A9C251;
	background: url('../images/customize-01.png') no-repeat; /*預設顯示圖片*/
	background-color: #EAEAEA;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px; 
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

#iconimg6 a:hover {
	color:white;
	background: url('../images/customize-02.png') no-repeat; /*滑鼠移過顯示圖片*/	
	background-color: #A9C251;
	background-position: 40px 30px; /*調整背景位置*/
	display: block;
	text-decoration:none;
	width:160px;
	height: 180px;
	border-radius:5px;
	line-height: 300px; /*調整文字位置*/
	margin-bottom:10px;
}

.menu {
	color:gray;
	font-size: 16px;
	width:70%;
	border-bottom:1px solid grey;
	list-style-type:none;
	text-decoration:none;
	padding:5px;	
}

.menu a{
	color:gray;
	font-size: 16px;	
}

.menu a:hover {
	color:#21AB38;
	font-size: 16px;	
}

.menutitle {
	color:gray;
	width:70%;
	border-bottom:1px solid grey;
	list-style-type:none;
	text-decoration:none;
	padding:5px;	
}

.menutitle a{
	color:gray;	
}

.menutitle a:hover {
	color:#21AB38;	
}

.machineimg {
	width: 30%;
	height: 30%;
	border-radius: 5px;
	margin-left:5px;
}

.screw {
	width: 150px;
	height:150px;
	display: block;
	border:1px solid rgb(184, 184, 184);
	border-radius: 5px;
	margin: 7px;
	text-align: center;
}
